* {
	box-sizing: border-box;
	/* outline: 1px solid blue; */
}

h1.title {
	color: red;
}

html {
	scroll-behavior: smooth;
}

/* CSS nesting: 
  - Allows us to group selectors in a parent
  - Better CSS organization.
  - Easier managment in the long run.
*/
article {
	min-height: 300px;
	max-width: 400px;
	margin: 0 auto;
	padding: 16px;
	> .title {
		font-family: sans-serif;
		text-align: center;
		background-color: gray;
		color: whitesmoke;
		padding: 8px 0;
	}
	/* The & here is needed:
    - When the selector is a tag
    - When the selector is a pseudo-selector that belong to the parent
    Not needed in other cases
    It basically represent the original selector
    Here it represent "article"
  */
	& p {
		font-style: italic;
	}
	&:has(mark) {
		background-color: dodgerblue;
		font-size: larger;
		color: white;
		/* Add first letter selector, and style it w/ initial letter */
	}
	&:not(#terraforming):hover {
		background-color: blue;
		color: whitesmoke;
	}
	&:has(:checked) p {
		display: none;
	}
	/* More complex selector along the way */
}

/* 
  Dark mode or Light mode preferences? Listen to your users :)
*/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1a1a1a;
		color: whitesmoke;
	}
}

/* Accent color */
body {
	accent-color: yellow;
}

/* article > .title {
	font-family: sans-serif;
	text-align: center;
	background-color: gray;
	color: whitesmoke;
	padding: 8px 0;
} */

.title {
	text-transform: capitalize;
}

[href="http://ironhack.com"]
{
	font-size: larger;
}
[href*="https"] {
	color: red;
}

[href*="http:"]:visited {
	color: green;
}

p::selection {
	background-color: red;
}

/* table tbody tr:nth-child(2n + 5) {
	background-color: aquamarine;
} */
table tbody tr:nth-child(odd) {
	background-color: aquamarine;
}

/* article:has(mark) {
	min-height: 300px;
	background-color: dodgerblue;
	font-size: larger;
	color: white;
} */
/* article:not(#terraforming):hover {
	background-color: blue;
} */

/* [id="hadrian"] {}
[class="title"] {} */
